-- Allow staff to see staff in the same store (for Time Clock page)
-- Keep admin access unchanged

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "profiles_select_store_staff" ON public.profiles;
CREATE POLICY "profiles_select_store_staff"
  ON public.profiles
  FOR SELECT
  USING (
    public.is_admin()
    OR (
      role = 'staff'
      AND store_id IS NOT NULL
      AND store_id = public.current_store_id()
    )
  );

-- Allow staff to read their own time clock events (needed for status checks)
ALTER TABLE public.time_clock_events ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "time_clock_events_select_self" ON public.time_clock_events;
CREATE POLICY "time_clock_events_select_self"
  ON public.time_clock_events
  FOR SELECT
  USING (auth.uid() = user_id);


