ALTER TABLE public.payslips ADD COLUMN IF NOT EXISTS lates_count INTEGER NOT NULL DEFAULT 0;
ALTER TABLE public.payslips ADD COLUMN IF NOT EXISTS absences_count INTEGER NOT NULL DEFAULT 0;
ALTER TABLE public.payslips ADD COLUMN IF NOT EXISTS deductions NUMERIC NOT NULL DEFAULT 0;
ALTER TABLE public.salary_rates ADD COLUMN IF NOT EXISTS late_deduction_rate NUMERIC NOT NULL DEFAULT 0;
ALTER TABLE public.salary_rates ADD COLUMN IF NOT EXISTS absence_deduction_rate NUMERIC NOT NULL DEFAULT 0;
